<div class="background" style="height: 100vh">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active">CONNEXION</h2>
      <h2 class="inactive underlineHover">RÉGION</h2>
      <div class="fadeIn first"></div>
      <form>
        <input
          type="text"
          id="login"
          class="fadeIn second"
          name="login"
          placeholder="Courriel de l'utilisateur"
          [(ngModel)]="email"
        />
        <input
          *ngIf="isLogin"
          type="text"
          id="password"
          class="fadeIn third"
          name="login"
          placeholder="Mot de Passe"
          [(ngModel)]="password"
        />
        <input
          *ngIf="isChangePassword"
          type="text"
          id="login"
          class="fadeIn second"
          name="login"
          placeholder="Ancien Mot de Passe"
          [(ngModel)]="password"
        />
        <input
          *ngIf="isChangePassword"
          type="text"
          id="login"
          class="fadeIn second"
          name="login"
          placeholder="Nouveau Mot de Passe"
          [(ngModel)]="newPassword"
        />
        <button
          type="submit"
          class="fadeIn fourth button1"
          value="Log In"
          (click)="login()"
        >
          Connexion
        </button>
      </form>
      <div id="formFooter">
        <a class="underlineHover" (click)="activeChangePassword()"
          >Mot de Passe Oublié?</a
        >
      </div>
    </div>
  </div>
</div>
