<div class="header">
  <div class="header-right">
    <a
      (click)="refresh()"
      style="background-color: rgb(56, 150, 56)"
      [ngClass]="this.globalService.isDataUpdated == true ? 'heartbeat' : ''"
      >Rafraîchir</a
    >
    <a class="create" (click)="openDialog()" *ngIf="this.activeRole == 'admin'"
      >Créer</a
    >
    <a>{{ this.access }}</a>
    <a style="text-transform: capitalize">{{ this.activeRole }}</a>
    <a class="userName" *ngIf="this.activeRole != 'admin'">{{
      this.activeRole != "admin" ? this.userInfo.name : "Admin"
    }}</a>
  </div>
  <a class="logo" (click)="logOut()">Se Déconnecter</a>
</div>

<div class="control-section">
  <ejs-schedule
    #scheduleObj
    cssClass="schedule-group-editing"
    width="100%"
    height="100vh"
    [allowResizing]="allowResizing"
    [allowMultiRowSelection]="allowMultiRowSelection"
    [allowMultiDrag]="allowMultiDrag"
    [selectedDate]="selectedDate"
    [workHours]="scheduleHours"
    [showWeekend]="showWeekend"
    [eventSettings]="eventSettings"
    (popupOpen)="onPopupOpen($event)"
    (popupClose)="onPopupClose($event)"
  >
    <e-views>
      <e-view option="Day"></e-view>
      <e-view option="Week"></e-view>
      <e-view option="WorkWeek"></e-view>
      <e-view option="Month"></e-view>
    </e-views>
    <e-resources>
      <e-resource
        field="Color"
        title="Color"
        name="Color"
        textField="name"
        idField="id"
        colorField="color"
        [dataSource]="this.globalService.resourceDataColor"
      >
      </e-resource>
    </e-resources>
  </ejs-schedule>
</div>
