<div>
  <div>
    <h3>Create Form</h3>
  </div>
  <div class="center">
    <mat-chip-list>
      <mat-chip color="accent" selected>Teacher</mat-chip>
      <mat-chip color="warn" selected>Student</mat-chip>
      <mat-chip color="primary" selected>Course</mat-chip>
      <mat-chip color="accent" selected>Class</mat-chip>
      <mat-chip color="warn" selected>Group</mat-chip>
    </mat-chip-list>
  </div>
  <div class="mattab">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Add List">

        <div style="margin-top: 25px;
        ">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="name">
            </mat-form-field>

            <mat-form-field style="margin-left: 12%;" class="example-full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Subject">
            </mat-form-field>

            <mat-form-field style="margin-left: 12%;" class="example-full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          </form>

          <div> <button class="btn">Save</button>
          </div>
        </div>


      </mat-tab>
      <mat-tab label="View list">View list</mat-tab>

    </mat-tab-group>
  </div>
</div>